# COVID Vaccinations

* **Data:** `StockX-Data-Contest-2019-3.xlsx`
* **Description:** You can buy shoes and resell them later online for more money. Wild world, right? This data is from [StockX](https://stockx.com/)
* **Source:** https://stockx.com/news/the-2019-data-contest/
* **Columns of interest:**
    * `Order Date` is the resale order was completed
    * `Brand` is the name of the company producing the shoe
    * `Sneaker Name` is the name of the shoe itself
    * `Sale Price` is how much the shoe went for at resale
    * `Retail Price` is how much the shoe originally cost
    * `Release Date` is when the shoe was originally released
    * `Shoe Size` is the size of the shoe being sold
    * `Buyer Region` is where the shoe's buyer is located

This dataset is topical due to the passing of [Virgil Abloh, founder of Off-White](https://www.newyorker.com/culture/postscript/the-remarkable-life-of-virgil-abloh).

## Read in your data

This Excel file has multiple sheets in it! You'll need to specify the sheet when you read it in with `sheet_name='Raw Data'`.

In [78]:
import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", '{:,.2f}'.format)

In [79]:
df = pd.read_excel("StockX-Data-Contest-2019-3.xlsx", sheet_name='Raw Data')

In [80]:
#Here, I decided to replace all the spaces in the names of the columns with underscores to make it for easier handling
df.columns = df.columns.str.lower().str.replace(" ", "_")

## What brand had more sales?

Yes, there are only two of them.

In [81]:
df.brand.value_counts()

 Yeezy       72162
Off-White    27794
Name: brand, dtype: int64

## What's the most common shoe size sold?

I'd like you to write a sentence like `Size ____ is the most common shoe size sold, capturing ___ percent of the market.`

In [154]:
#This counts the shoe sizes as listed under the shoe size column
df.shoe_size.value_counts().head()

10.00    11093
9.00      9706
11.00     9251
10.50     8784
9.50      8685
Name: shoe_size, dtype: int64

In [155]:
#df[df.shoe_size == 10.0]

## What was the median difference between the sale price and the retail price?

In [84]:
#Breaking down to find the median on the sale price column
df.sale_price.median()

370.0

In [85]:
#Breaking down to find the median on the retail price column

df.retail_price.median()

220.0

In [156]:
#And here we look at the difference between the two
df.sale_price.median() - df.retail_price.median()

150.0

## What were the total sales (in dollars) to South Dakota, New Mexico, and Vermont?

In [88]:
#First, we look at South Dakota data frame using the buyer region and then sum up sales in the dataframe.
df[df.buyer_region == 'South Dakota'].sale_price.sum()

21601.0

In [89]:
#First, we look at New Mexico data frame using the buyer region and then sum up sales in the dataframe.

df[df.buyer_region == 'New Mexico'].sale_price.sum()

97794.0

In [90]:
#First, we look at Vermont data frame using the buyer region and then sum up sales in the dataframe.
df[df.buyer_region == 'Vermont'].sale_price.sum()

38323.0

## What were the total sales (in dollars) of shoes sized 5, 6 and 7?

In [91]:
#Step 1 was to look at the shoe size and create a data frame for the respective size and take out the total sales.
#Step 2 rounds it two decimal places.
round(df[df.shoe_size == 5.0].sale_price.sum(),2)

1379343.18

In [92]:
#Step 1 was to look at the shoe size and create a data frame for the respective size and take out the total sales.
#Step 2 rounds it two decimal places.

round(df[df.shoe_size == 6.0].sale_price.sum(),2)

1663940.37

In [93]:
#Step 1 was to look at the shoe size and create a data frame for the respective size and take out the total sales.
#Step 2 rounds it two decimal places.
round(df[df.shoe_size == 7.0].sale_price.sum(),2)

1643196.17

## What sneakers sold, on average, for the highest sale price?

In [158]:
#Step 1, Groupby Sneaker Name
#Step 2, Look at the median sale price 
#Step 3, sort values using ascending = False to get the highest sale price
#Step 4, use head() to identify the top 5
df.groupby(by='sneaker_name').sale_price.median().sort_values(ascending = False).head()

sneaker_name
Air-Jordan-1-Retro-High-Off-White-White     1,750.00
Air-Jordan-1-Retro-High-Off-White-Chicago   1,700.00
Adidas-Yeezy-Boost-350-Low-Turtledove       1,500.00
Nike-Air-Presto-Off-White                   1,190.00
Adidas-Yeezy-Boost-350-Low-Oxford-Tan       1,000.00
Name: sale_price, dtype: float64

## How many shoes in the dataset were produced by Nike?

A sneaker with either 'Nike' or 'Jordan' in the name is going to be produced by Nike.

In [139]:
#Step 1, use .str contains to identify Nike or Jordan under sneaker name column.
#Step 2, create a data frame from the results and value_count how many times they appear
#Step 3, Sum the data frame to know how many shoes were from NIke

nike = df[df.sneaker_name.str.contains("Nike","Jordan")]
nike.sneaker_name.value_counts().sum()

22091

## What are the top 3 months for buying shoes? (This is order date, not release date)

People like to buy shoes for Christmas, or with money they received during Christmas.

In [166]:
#Create a new column called month and define it using the order_date datetime to pullout the month
#Then count the number of times each month appears

df['month'] = pd.to_datetime(df.order_date, errors='coerce', format="%Y%m%d").dt.strftime('%B')

In [167]:
df.month.value_counts().head()

December    22292
November    15489
January     14511
February     7774
July         7434
Name: month, dtype: int64

## What month had the most total money spent on the shoes in this dataset?

Not super-month, but rather instead something like May 2017. And If you get weird decimals like `5,068,067.6894`, don't worry, the data is just a little dirty.

In [173]:
#Step 1, resample using month on order date.
#Look at the sale price and sum it
#Order the values by the highest amount
#Pick the head

df.resample('M', on='order_date').sale_price.sum().sort_values(ascending=False).head()

order_date
2018-12-31   5,068,067.69
2019-01-31   4,029,846.26
2018-11-30   3,785,401.29
2017-12-31   3,211,053.00
2018-08-31   3,162,458.00
Name: sale_price, dtype: float64